@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.pageHeader {
    background-image: 
    linear-gradient(
        to right, orange, white, orange);
        text-align: center;
        padding: 20px;
        color: rgb(240, 161, 50); ;
}